.sp-page-builder .page-content #section-id-1545534556622{background-image:url(/images/2018/12/23/mangueras-acorsa.jpg);background-position:50% 0;}@media (min-width: 768px) and (max-width: 991px) {#sppb-addon-1545535182690 {}}@media (max-width: 767px) {#sppb-addon-1545535182690 {}}#sppb-addon-1545535182690 .sppb-item-15455351826900 .sppb-carousel-caption h2 {font-size:46px;line-height:56px;color:#fff;padding:  0px 0px 0px 0px;
margin:  0px 0px 0px 0px;
}#sppb-addon-1545535182690 .sppb-item-15455351826900 .sppb-carousel-caption .sppb-carousel-content{font-size:16px;line-height:24px;color:#fff;padding:  20px 0px 30px 0px;
margin:  0px 0px 0px 0px;
}@media (min-width: 768px) and (max-width: 991px) {#sppb-addon-1545535182690 .sppb-item-15455351826900 .sppb-carousel-caption h2 {font-size:36px;line-height:46px;padding:  0px 0px 0px 0px;
margin:  0px 0px 0px 0px;
}#sppb-addon-1545535182690 .sppb-item-15455351826900 .sppb-carousel-caption .sppb-carousel-content{font-size:14px;line-height:22px;padding:  15px 0px 20px 0px;
margin:  0px 0px 0px 0px;
}}@media (max-width: 767px) {#sppb-addon-1545535182690 .sppb-item-15455351826900 .sppb-carousel-caption h2{font-size:16px;line-height:20px;padding:  0px 0px 0px 0px;
margin:  0px 0px 0px 0px;
}#sppb-addon-1545535182690 .sppb-item-15455351826900 .sppb-carousel-caption .sppb-carousel-content{font-size:12px;line-height:16px;padding:  10px 0px 10px 0px;
margin:  0px 0px 0px 0px;
}}#sppb-addon-1545535182690 .sppb-item-15455351826901 .sppb-carousel-caption h2 {font-size:46px;line-height:56px;color:#fff;padding:  0px 0px 0px 0px;
margin:  0px 0px 0px 0px;
}#sppb-addon-1545535182690 .sppb-item-15455351826901 .sppb-carousel-caption .sppb-carousel-content{font-size:16px;line-height:24px;color:#fff;padding:  20px 0px 30px 0px;
margin:  0px 0px 0px 0px;
}@media (min-width: 768px) and (max-width: 991px) {#sppb-addon-1545535182690 .sppb-item-15455351826901 .sppb-carousel-caption h2 {font-size:36px;line-height:46px;padding:  0px 0px 0px 0px;
margin:  0px 0px 0px 0px;
}#sppb-addon-1545535182690 .sppb-item-15455351826901 .sppb-carousel-caption .sppb-carousel-content{font-size:14px;line-height:22px;padding:  15px 0px 20px 0px;
margin:  0px 0px 0px 0px;
}}@media (max-width: 767px) {#sppb-addon-1545535182690 .sppb-item-15455351826901 .sppb-carousel-caption h2{font-size:16px;line-height:20px;padding:  0px 0px 0px 0px;
margin:  0px 0px 0px 0px;
}#sppb-addon-1545535182690 .sppb-item-15455351826901 .sppb-carousel-caption .sppb-carousel-content{font-size:12px;line-height:16px;padding:  10px 0px 10px 0px;
margin:  0px 0px 0px 0px;
}}#sppb-addon-1545535182690 .sppb-item-15455351826902 .sppb-carousel-caption h2 {font-size:46px;line-height:56px;color:#fff;padding:  0px 0px 0px 0px;
margin:  0px 0px 0px 0px;
}#sppb-addon-1545535182690 .sppb-item-15455351826902 .sppb-carousel-caption .sppb-carousel-content{font-size:16px;line-height:24px;color:#fff;padding:  20px 0px 30px 0px;
margin:  0px 0px 0px 0px;
}@media (min-width: 768px) and (max-width: 991px) {#sppb-addon-1545535182690 .sppb-item-15455351826902 .sppb-carousel-caption h2 {font-size:36px;line-height:46px;padding:  0px 0px 0px 0px;
margin:  0px 0px 0px 0px;
}#sppb-addon-1545535182690 .sppb-item-15455351826902 .sppb-carousel-caption .sppb-carousel-content{font-size:14px;line-height:22px;padding:  15px 0px 20px 0px;
margin:  0px 0px 0px 0px;
}}@media (max-width: 767px) {#sppb-addon-1545535182690 .sppb-item-15455351826902 .sppb-carousel-caption h2{font-size:16px;line-height:20px;padding:  0px 0px 0px 0px;
margin:  0px 0px 0px 0px;
}#sppb-addon-1545535182690 .sppb-item-15455351826902 .sppb-carousel-caption .sppb-carousel-content{font-size:12px;line-height:16px;padding:  10px 0px 10px 0px;
margin:  0px 0px 0px 0px;
}}#sppb-addon-1545535182690 .sppb-item-15455351826903 .sppb-carousel-caption h2 {font-size:46px;line-height:56px;color:#fff;padding:  0px 0px 0px 0px;
margin:  0px 0px 0px 0px;
}#sppb-addon-1545535182690 .sppb-item-15455351826903 .sppb-carousel-caption .sppb-carousel-content{font-size:16px;line-height:24px;color:#fff;padding:  20px 0px 30px 0px;
margin:  0px 0px 0px 0px;
}@media (min-width: 768px) and (max-width: 991px) {#sppb-addon-1545535182690 .sppb-item-15455351826903 .sppb-carousel-caption h2 {font-size:36px;line-height:46px;padding:  0px 0px 0px 0px;
margin:  0px 0px 0px 0px;
}#sppb-addon-1545535182690 .sppb-item-15455351826903 .sppb-carousel-caption .sppb-carousel-content{font-size:14px;line-height:22px;padding:  15px 0px 20px 0px;
margin:  0px 0px 0px 0px;
}}@media (max-width: 767px) {#sppb-addon-1545535182690 .sppb-item-15455351826903 .sppb-carousel-caption h2{font-size:16px;line-height:20px;padding:  0px 0px 0px 0px;
margin:  0px 0px 0px 0px;
}#sppb-addon-1545535182690 .sppb-item-15455351826903 .sppb-carousel-caption .sppb-carousel-content{font-size:12px;line-height:16px;padding:  10px 0px 10px 0px;
margin:  0px 0px 0px 0px;
}}#sppb-addon-1545535182690 .sppb-item-15455351826904 .sppb-carousel-caption h2 {font-size:46px;line-height:56px;color:#fff;padding:  0px 0px 0px 0px;
margin:  0px 0px 0px 0px;
}#sppb-addon-1545535182690 .sppb-item-15455351826904 .sppb-carousel-caption .sppb-carousel-content{font-size:16px;line-height:24px;color:#fff;padding:  20px 0px 30px 0px;
margin:  0px 0px 0px 0px;
}@media (min-width: 768px) and (max-width: 991px) {#sppb-addon-1545535182690 .sppb-item-15455351826904 .sppb-carousel-caption h2 {font-size:36px;line-height:46px;padding:  0px 0px 0px 0px;
margin:  0px 0px 0px 0px;
}#sppb-addon-1545535182690 .sppb-item-15455351826904 .sppb-carousel-caption .sppb-carousel-content{font-size:14px;line-height:22px;padding:  15px 0px 20px 0px;
margin:  0px 0px 0px 0px;
}}@media (max-width: 767px) {#sppb-addon-1545535182690 .sppb-item-15455351826904 .sppb-carousel-caption h2{font-size:16px;line-height:20px;padding:  0px 0px 0px 0px;
margin:  0px 0px 0px 0px;
}#sppb-addon-1545535182690 .sppb-item-15455351826904 .sppb-carousel-caption .sppb-carousel-content{font-size:12px;line-height:16px;padding:  10px 0px 10px 0px;
margin:  0px 0px 0px 0px;
}}#sppb-addon-1545535182690 .sppb-item-15455351826905 .sppb-carousel-caption h2 {font-size:46px;line-height:56px;color:#fff;padding:  0px 0px 0px 0px;
margin:  0px 0px 0px 0px;
}#sppb-addon-1545535182690 .sppb-item-15455351826905 .sppb-carousel-caption .sppb-carousel-content{font-size:16px;line-height:24px;color:#fff;padding:  20px 0px 30px 0px;
margin:  0px 0px 0px 0px;
}@media (min-width: 768px) and (max-width: 991px) {#sppb-addon-1545535182690 .sppb-item-15455351826905 .sppb-carousel-caption h2 {font-size:36px;line-height:46px;padding:  0px 0px 0px 0px;
margin:  0px 0px 0px 0px;
}#sppb-addon-1545535182690 .sppb-item-15455351826905 .sppb-carousel-caption .sppb-carousel-content{font-size:14px;line-height:22px;padding:  15px 0px 20px 0px;
margin:  0px 0px 0px 0px;
}}@media (max-width: 767px) {#sppb-addon-1545535182690 .sppb-item-15455351826905 .sppb-carousel-caption h2{font-size:16px;line-height:20px;padding:  0px 0px 0px 0px;
margin:  0px 0px 0px 0px;
}#sppb-addon-1545535182690 .sppb-item-15455351826905 .sppb-carousel-caption .sppb-carousel-content{font-size:12px;line-height:16px;padding:  10px 0px 10px 0px;
margin:  0px 0px 0px 0px;
}}#sppb-addon-1545535182690 .sppb-item-15455351826906 .sppb-carousel-caption h2 {font-size:46px;line-height:56px;color:#fff;padding:  0px 0px 0px 0px;
margin:  0px 0px 0px 0px;
}#sppb-addon-1545535182690 .sppb-item-15455351826906 .sppb-carousel-caption .sppb-carousel-content{font-size:16px;line-height:24px;color:#fff;padding:  20px 0px 30px 0px;
margin:  0px 0px 0px 0px;
}@media (min-width: 768px) and (max-width: 991px) {#sppb-addon-1545535182690 .sppb-item-15455351826906 .sppb-carousel-caption h2 {font-size:36px;line-height:46px;padding:  0px 0px 0px 0px;
margin:  0px 0px 0px 0px;
}#sppb-addon-1545535182690 .sppb-item-15455351826906 .sppb-carousel-caption .sppb-carousel-content{font-size:14px;line-height:22px;padding:  15px 0px 20px 0px;
margin:  0px 0px 0px 0px;
}}@media (max-width: 767px) {#sppb-addon-1545535182690 .sppb-item-15455351826906 .sppb-carousel-caption h2{font-size:16px;line-height:20px;padding:  0px 0px 0px 0px;
margin:  0px 0px 0px 0px;
}#sppb-addon-1545535182690 .sppb-item-15455351826906 .sppb-carousel-caption .sppb-carousel-content{font-size:12px;line-height:16px;padding:  10px 0px 10px 0px;
margin:  0px 0px 0px 0px;
}}#sppb-addon-1545535182690 .sppb-item-15455351826907 .sppb-carousel-caption h2 {font-size:46px;line-height:56px;color:#fff;padding:  0px 0px 0px 0px;
margin:  0px 0px 0px 0px;
}#sppb-addon-1545535182690 .sppb-item-15455351826907 .sppb-carousel-caption .sppb-carousel-content{font-size:16px;line-height:24px;color:#fff;padding:  20px 0px 30px 0px;
margin:  0px 0px 0px 0px;
}@media (min-width: 768px) and (max-width: 991px) {#sppb-addon-1545535182690 .sppb-item-15455351826907 .sppb-carousel-caption h2 {font-size:36px;line-height:46px;padding:  0px 0px 0px 0px;
margin:  0px 0px 0px 0px;
}#sppb-addon-1545535182690 .sppb-item-15455351826907 .sppb-carousel-caption .sppb-carousel-content{font-size:14px;line-height:22px;padding:  15px 0px 20px 0px;
margin:  0px 0px 0px 0px;
}}@media (max-width: 767px) {#sppb-addon-1545535182690 .sppb-item-15455351826907 .sppb-carousel-caption h2{font-size:16px;line-height:20px;padding:  0px 0px 0px 0px;
margin:  0px 0px 0px 0px;
}#sppb-addon-1545535182690 .sppb-item-15455351826907 .sppb-carousel-caption .sppb-carousel-content{font-size:12px;line-height:16px;padding:  10px 0px 10px 0px;
margin:  0px 0px 0px 0px;
}}#sppb-addon-1545535182690 .sppb-carousel-inner > .sppb-item{-webkit-transition-duration: 600ms; transition-duration: 600ms;}@media (min-width: 768px) and (max-width: 991px) { #column-id-1545535578969{padding-right: 15px;padding-left: 15px;} }@media (max-width: 767px) { #column-id-1545535578969{padding-right: 15px;padding-left: 15px;} }#sppb-addon-1545538159994 {
	box-shadow: 0 0 0 0 #ffffff;
margin-bottom: 30px;}
@media (min-width: 768px) and (max-width: 991px) {#sppb-addon-1545538159994 {margin-bottom: 20px;}}@media (max-width: 767px) {#sppb-addon-1545538159994 {margin-bottom: 10px;}}@media (min-width: 768px) and (max-width: 991px) {#sppb-addon-1545541179674 {}}@media (max-width: 767px) {#sppb-addon-1545541179674 {}}#sppb-addon-1545541179674 .sppb-empty-space {height: 20px;}@media (min-width: 768px) and (max-width: 991px) {#sppb-addon-1545541179674 .sppb-empty-space {height: 30px;}}@media (max-width: 767px) {#sppb-addon-1545541179674 .sppb-empty-space {height: 20px;}}@media (min-width: 768px) and (max-width: 991px) { #column-id-1549820502282{padding-right: 15px;padding-left: 15px;} }@media (max-width: 767px) { #column-id-1549820502282{padding-right: 15px;padding-left: 15px;} }@media (min-width: 768px) and (max-width: 991px) {#sppb-addon-1545541159651 {}}@media (max-width: 767px) {#sppb-addon-1545541159651 {}}#sppb-addon-1545541159651 .sppb-empty-space {height: 20px;}@media (min-width: 768px) and (max-width: 991px) {#sppb-addon-1545541159651 .sppb-empty-space {height: 30px;}}@media (max-width: 767px) {#sppb-addon-1545541159651 .sppb-empty-space {height: 20px;}}#sppb-addon-1549820502285 {
margin-bottom: 30px;}
@media (min-width: 768px) and (max-width: 991px) {#sppb-addon-1549820502285 {margin-bottom: 20px;}}@media (max-width: 767px) {#sppb-addon-1549820502285 {margin-bottom: 10px;}}@media (min-width: 768px) and (max-width: 991px) {#sppb-addon-1545538620049 {}}@media (max-width: 767px) {#sppb-addon-1545538620049 {}}#sppb-addon-1545538620049 img{}@media (min-width: 768px) and (max-width: 991px) {#sppb-addon-1545538657214 {}}@media (max-width: 767px) {#sppb-addon-1545538657214 {}}#sppb-addon-1545538657214 img{}@media (min-width: 768px) and (max-width: 991px) {#sppb-addon-1545538772701 {}}@media (max-width: 767px) {#sppb-addon-1545538772701 {}}#sppb-addon-1545538772701 img{}@media (min-width: 768px) and (max-width: 991px) {#sppb-addon-1545538944615 {}}@media (max-width: 767px) {#sppb-addon-1545538944615 {}}#sppb-addon-1545538944615 img{}@media (min-width: 768px) and (max-width: 991px) {#sppb-addon-1545538710733 {}}@media (max-width: 767px) {#sppb-addon-1545538710733 {}}#sppb-addon-1545538710733 img{}@media (min-width: 768px) and (max-width: 991px) {#sppb-addon-1545539184480 {}}@media (max-width: 767px) {#sppb-addon-1545539184480 {}}#sppb-addon-1545539184480 img{}@media (min-width: 768px) and (max-width: 991px) {#sppb-addon-1545539171896 {}}@media (max-width: 767px) {#sppb-addon-1545539171896 {}}#sppb-addon-1545539171896 img{}@media (min-width: 768px) and (max-width: 991px) {#sppb-addon-1545538751458 {}}@media (max-width: 767px) {#sppb-addon-1545538751458 {}}#sppb-addon-1545538751458 img{}@media (min-width: 768px) and (max-width: 991px) {#sppb-addon-1545536648529 {}}@media (max-width: 767px) {#sppb-addon-1545536648529 {}}#sppb-addon-1545536648529 img{}@media (min-width: 768px) and (max-width: 991px) {#sppb-addon-1545538921935 {}}@media (max-width: 767px) {#sppb-addon-1545538921935 {}}#sppb-addon-1545538921935 img{}@media (min-width: 768px) and (max-width: 991px) {#sppb-addon-1545539047495 {}}@media (max-width: 767px) {#sppb-addon-1545539047495 {}}#sppb-addon-1545539047495 img{}@media (min-width: 768px) and (max-width: 991px) {#sppb-addon-1545539087446 {}}@media (max-width: 767px) {#sppb-addon-1545539087446 {}}#sppb-addon-1545539087446 img{}@media (min-width: 768px) and (max-width: 991px) {#sppb-addon-1545536707084 {}}@media (max-width: 767px) {#sppb-addon-1545536707084 {}}#sppb-addon-1545536707084 img{}@media (min-width: 768px) and (max-width: 991px) {#sppb-addon-1545539072624 {}}@media (max-width: 767px) {#sppb-addon-1545539072624 {}}#sppb-addon-1545539072624 img{}
body{font-family:Open Sans, sans-serif; font-size:14px; font-weight:normal; }
h1{font-family:Poppins, sans-serif; font-weight:500; }
h2{font-family:Open Sans, sans-serif; font-weight:600; }
h3{font-family:Open Sans, sans-serif;font-weight:normal;color: #0577ae;}
h4{font-family:Open Sans, sans-serif; font-weight:normal; }
h5{font-family:Open Sans, sans-serif; font-weight:800; }
h6{font-family:Open Sans, sans-serif; font-weight:800; }
.sp-page-title {
    background: #f55a00;
    
    padding-left: 20px;
}


@media (min-width: @screen-sm-min) { 
    width: 50%;
    float: right;
 }


/* .col-md-12{
   position: relative;
    min-height: 1px;
    padding-right: 1px;
    padding-left: 20px;
padding-top: 10px;
background-color: #f3f3f3;
}*/

.col-md-6 {

    font-size: 16px;

    font-weight: 400; 

}

p{
    padding-left: 3px;
    padding-right: 3px;

}

body {
   
    font-size: 16px;

}
img {
        padding-top: 5px;
    padding-bottom: 5px;
}

.h3, h3 {
    font-size: 23px;
}


.h2, h2 {
    font-size: 29px;
    padding-left: 10px;

    padding-right: 7px;
   
}

.h4, h4{
    padding-left: 3px;
    padding-right: 3px;
}


.page-header {
    padding-bottom: 9px;
    margin: 1px 0 20px;
    border-bottom: 1px solid #eee;
}




.col-md-4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  /*  margin-bottom: 25px;*/
}




#offcanvas-toggler >i {
    color: #f9f9f9;
    font-size: 30px;
}

.sp-module .sp-module-title {
    margin: 0 0 20px;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1;
}

 textarea {
height: 64px;}

input, textarea, .uneditable-input {
    margin-left: 0;
    margin-bottom: 10px;
width: 100%;
}


.sp-contact-info li i {
    
    font-size: 17px;
    color: olivedrab;
}

.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a, .sp-megamenu-parent .sp-dropdown li.sp-menu-item span {
 
    padding: 2px;
padding-left: 2px;
  
}

#sp-top-bar a {
    
    font-size: 15px;
}

h1 {
    
color: #0589ae;
    
font-size: 38px;
    
text-shadow: 0px 0px 3px #0577ae;
}

.entry-header.has-post-format {
    
    display: none;
}

.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner {
    background: #293a51;
    width: 400px;
}

#sp-header a {
      color: #ffffff;
    font-size: 13px;
    
}


#sp-header {
  
    height: 115px;
   
padding-top: 10px;
}

#sp-main-body {
    padding: 20px 0;
}

.page-header {
 background-color: whitesmoke;
    padding-top: 15px;
    padding-left: 15px;}


table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}
#sp-top-bar{ background-color:#f5f5f5;color:#383838; }
#sp-top-bar a{color:#3d3d3d;}
#sp-top-bar a:hover{color:#4a4a4a;}
#sp-header{background-color: #0577ae;color:#b8b8b8;padding:10px;}
#sp-header a{color:#ffffff;font-size: 0.9em;}
#sp-header a:hover{color:#ffffff;}
#sp-bottom{ background-color:#ededed;padding:20px 0px; }


 .mititulo {
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.margenizquierdo {
    border-style: dotted;
    border-color:#ccc;
    border-left-width: 1px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}
.marcoimagen{
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color:#ccc;
    border-radius: 8px;
}

